{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <a class="btn btn-outline-primary secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  <button class="primaryAction btn btn-outline-success" type="submit">{% trans "Sign In" %}</button>
                  <hr class="my-4">
                  {% get_providers as socialaccount_providers %}
                  {% if socialaccount_providers %}
                    <a class="btn btn-lg btn-outline-danger btn-google" href="/accounts/google/login"><i class="fab fa-google mr-2"></i> Sign up with Google</a>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

