{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">TOXsIgN Registration</h5>
              <small>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</small>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 30px;">{% trans "Sign Up" %}</button>
                <hr class="my-4">
                {% get_providers as socialaccount_providers %}    
                {% if socialaccount_providers %}
                  <a class="btn btn-lg btn-outline-danger btn-google" href="/accounts/google/login" ><i class="fab fa-google mr-2"></i> Sign up with Google</a>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

