{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#superproject" data-toggle="tab" class="list-group-item list-group-item-action active">Superproject</a>
                    <a href="#projects" data-toggle="tab" class="list-group-item list-group-item-action {% if not projects %} disabled {% endif %}}">Related projects ({{ projects|length }})</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content card">
                    <div class="tab-pane active text-style card-body" id="superproject">
                        <h2 style="text-align:center">{{ superproject.tsx_id }} - {{ superproject.name }}</h2>
                        <p><b>Description : </b>{{ superproject.description }}</p>
                        <p><b>Created : </b>{{ superproject.created_at }}</p>
                        <p><b>Owner : </b>{{ superproject.created_by.username }}</p>
                        {% if user.is_authenticated and superproject.contact_mail %}
                        <p><b>Contact : </b><a href="mailto:{{superproject.contact_mail}}">{{superproject.contact_mail}}</a></p>
                       {% endif %}
                    </div>
                    <div class="tab-pane text-style card-body" id="projects">
                        <h2 style='text-align:center;'> List of projects associated to this superproject </h2>
                        {% for project in projects %}
                            <hr>
                            {% if project.visible %}
                            <h3 style='text-align:center;'><a href="{% url 'projects:detail' project.tsx_id %}">{{ project.tsx_id }} - {{ project.name }}</a></h3>
                                <p><b>Description : </b>{{project.description}}</p>
                                <p><b>Created : </b>{{project.created_at}}</p>
                                <p><b>Owner : </b>{{project.created_by.username}}</p>
                            {% else %}
                            <h3 style='text-align:center;' >{{ project.tsx_id }} - {{ project.name }}</h3>
                                <p style='text-align:center;'> Access to this project is restricted </p>
                            {% endif %}
                            {% if superproject.created_by.username == user.username %}
                                <div style="float:right">
                                    <button data-url="{% url 'superprojects:superproject_unlink' superproject.tsx_id project.tsx_id %}" class="btn btn-danger js-remove">
                                        <i class="fas fa-unlink"></i> Unlink 
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="modal fade" id="modal-group">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>var token = '{{ csrf_token }}';</script>
    <script src="{% static 'js/superproject.js' %}"></script>
{% endblock %}

