language: python
python:
  - "3.6"
services:
  - docker
install:
  - docker-compose -f local_test.yml up -d 
  - sleep 60
script:
  - docker-compose -f local_test.yml run -e DATABASE_URL django pytest
