/*
 * Styles of the components of the tree
 */
#graph {
	width: 100%;
}

.svgContainer {
	display: block;
    margin: auto;
}

.node {
	cursor: pointer;
}

.node-rect {
}

.node-rect-closed {
	stroke-width: 2px;
	stroke: rgb(0,0,0);
}

.node-rect-current {
     stroke-width: 4px;
     stroke: rgb(255,0,0);
 }

.link {
	fill: none;
	stroke: lightsteelblue;
	stroke-width: 2px;
}

.linkselected {
	fill: none;
	stroke: tomato;
	stroke-width: 2px;
}

.arrow {
	fill: lightsteelblue;
	stroke-width: 1px;
}

.arrowselected {
	fill: tomato;
	stroke-width: 2px;
}

.link text {
	font: 7px sans-serif;
	fill: #CC0000;
}

.wordwrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

.node-text {
	font: 10px sans-serif;
	color: white;
}

.tooltip-text-container {
    height: 100%;
	width: 100%;
}

.tooltip-text {
	visibility: hidden;
	font: 10px sans-serif;
	color: white;
	display: block;
 	padding: 5px;
}

.tooltip-box {
	background: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: black;
    border-top-right-radius: 0.5em;
}

p {
	display: inline;
}

.textcolored {
	color: orange;
}

a.exchangeName {
	color: orange;
}



.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    z-index:1200;
}

.d3-context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.d3-context-menu ul li {
    padding: 4px 16px;
}

.d3-context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}

.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }
