{% extends "base.html" %}

{% block content %}
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Existing Tools
      </h1>
      <!-- Insert custom tools by hand here (custom search + ontologies) -->
        {% if tools_list %}
            {% for tool in tools_list %}
                <div class="row align-items-center">
                    <div class="col-md-4">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ tool.visuel.url }}" alt="">
                    </a>
                    </div>
                    <div class="col-md-8">
                    <h3>{{ tool.id }} - {{ tool.name }}</h3>
                    <small>Author: {{ tool.created_by }}</small>
                    <p>{{tool.short_description}}</p>
                    <hr>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Creation date</th>
                                <td>{{ tool.created_at }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last update</th>
                                <td>{{ tool.updated_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{% url 'tools:detail' tool.id  %}">View tool</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No tools are available.</p>
        {% endif %}
    </div>

{% endblock %}
