{% extends "base.html" %}

{% block content %}
    <div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Existing Tools
      </h1>
      <!-- Insert in house tools by hand here (custom search + ontologies) -->
        {% if category_list %}
            <!-- TODO: filter by category beforehand -->
            {% for category in category_list %}
            <h2>{{category.name}}</h2>
            <p>{{category.description}}</p>
            <div class="row my-5 mb-5">
            {% for tool in category.category_of.all %}
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card text-center">

                        <!-- Card image -->
                        <img class="card-img-top" src="{{ tool.icon.url }}" alt="">
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                            <!-- Title -->
                            <h4 class="card-title"><a>{{ tool.name }}</a></h4>
                            <!-- Text -->
                            <p class="card-text">{{ tool.short_description}}</p>
                            <!-- Button -->
                            {% if tool.type == "LOCAL" %}
                                <a class="btn btn-default" href="{% url tool.link  %}">Use</a>
                            {% elif tool.type == "REMOTE" %}
                                <a class="btn btn-default" href="{{ tool.link }}">Use</a>
                            {% else %}
                                <a class="btn btn-default" href="{% url 'tools:detail' tool.id  %}">Use</a>
                            {% endif %}                
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        {% else %}
            <p>No tools are available.</p>
        {% endif %}
    </div>

{% endblock %}
