{% extends "base.html" %}

{% block content %}
    <div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Existing Tools</h1>
      <!-- Insert in house tools by hand here (custom search + ontologies) -->
        {% if category_list %}
            <!-- TODO: filter by category beforehand -->
            {% for category in category_list %}
            <h2>{{category.name}}</h2>
            <p>{{category.description}}</p>
            {% for tool in category.category_of.all %}
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col-md-10 my-auto">
                                <b>{{ tool.name }}</b>
                                <p>{{ tool.short_description}}</p>
                            </div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-outline-light btn-sm float-right" type="button" data-trigger="focus" data-toggle="collapse" data-target="#tool-{{tool.id}}">More info <i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>
                     <div class="collapse" id="tool-{{tool.id}}">
                        <div class="card-body bg-light">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <small>{{tool.description}}</small>
                                    <hr>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Creation date</th>
                                                <td>{{ tool.created_at }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Last update</th>
                                                <td>{{ tool.updated_at }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {% if tool.type == "LOCAL" %}
                                    <a class="btn btn-primary" href="{% url tool.link  %}">View tool</a>
                                    {% elif tool.type == "REMOTE" %}
                                    <a class="btn btn-primary" href="{{ tool.link }}">View tool</a>
                                    {% else %}
                                    <a class="btn btn-primary" href="{% url 'tools:detail' tool.id  %}">View tool</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% endfor %}
        {% else %}
            <p>No tools are available.</p>
        {% endif %}
    </div>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script>
    $(".collapse").on("shown.bs.collapse", function () {
        $('html, body').animate({
            scrollTop: $(this).offset().top - 50
        }, 500)
    });
    </script>
{% endblock %}
