{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
  <div class="container-fluid">
    <h1>Generic Average Replicate Experiments MatrixData</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% if table_content_data %}
                <h4>Gene expression matrix</h4>
                {{ table_content | safe}}
                <hr>
            {% endif %}
        </div>
        <div class="col-md-12">
            {% if table_content_info %}
                <h4>Sample description</h4>
                {{ table_content | safe}}
                <hr>
            {% endif %}
        </div>
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="job_name">Job name</label>
                    <input id="job_name" type="text" class="form-control" name="job_name">
                </div>
                <div class="form-group">
                    <label for="matrix_data">Gene expression matrix</label>
                    <input id="matrix_data" type="file" class="form-control-file" name="matrix_data">
                </div>
                <div class="form-group">
                    <label for="matrix_info">Matrix info</label>
                    <input id="matrix_info" type="file" class="form-control-file" name="matrix_info">
                </div>
                <div class="form-group">
                    <label for="method">Select method</label>
                    <select id="method" name="method">
                        <option selected="selected" disabled>Select method:</option>
                        <option value="mean">Mean</option>
                        <option value="median">Median</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Upload</button>
            </form>
        </div>
    </div>
  </div>
    
{% endblock %}