{% extends "base.html" %}
{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Header -->
    <header class="bg-success py-5 mb-5">
        <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2">Welcome to TOXsIgN</h1>
            <p class="lead mb-5 text-white">The TOXicogenomic sIgNature (TOXsIgN) is a user-friendly and cross-species resource that supports online submission, storage, and retrieval of TOXicogenomic sIgNatures.</p>
             <form class="form-inline my-6 my-lg-0" id="search" method="GET" action='{% url "search" %}'>
                    <input type='text' class="form-control col-md-6" name='q' placeholder="Search signature" value='{{ request.GET.q }}' id='intry'>
                    <button type="submit" class="btn btn-outline-light col-md-2">Search</button>
            </form>
            </div>
        </div>
        </div>
    </header>


    <!-- Page Content -->
    <div class="container">
        
        <!-- Heading Row -->
        <div class="row my-5">
            <div class="col-md-8 mb-5">
                <h2>What is TOXsIgN</h2>
                <hr>
                <p>TOXsIgN aims at complementing existing resources by acting as a distribution hub for the community.
            One of its unique features is its ability to archive heterogeneous data. TOXsIgN thus allows users to upload lists of genes positively (overexpressed for transcriptomic assays) affected and negatively (underexpressed) affected from distinct –omics experiments
            (e.g., transcriptomics, proteomics, or epigenomics). It also provides users with a working environment containing a powerful search engine as well as bioinformatics/biostatistics modules that enable cross-species and cross-technology signature comparisons
            or enrichment analyses. TOXsIgN is thus intended to serve as a warehouse for toxicogenomics and predictive toxicology tools simultaneously based on and able to analyze the overall set of signatures deposited by the community.</p>
                <small>[Toxicogenomic signature]: the description of -omics (e.g. transcriptomics, proteomics, epigenomics) effects on individuals or their descendants, after exposure to single or combined environmental factors, including chemical, physical or biological factors.</small>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 mb-5">
                <h2>Tools and Access</h2>
                <hr>
                <p>TOXsIgN provides a powerful <a href="{% url 'advanced_search' %}">search engine</a> to access and query the repository.<br></p>
                <p>The <a href="{% url 'tools:index' %}">TOXsIgN warehouse</a> for toxicogenomics and predictive toxicology tools.<br></p>
                <a href="{% url 'tools:index' %}" class="btn btn-outline-info btn-sm">View tools</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    </div>
    <script>
         /*$(document).ready(function(){
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search/",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
              });
        });*/
    </script>
    <!-- /.container -->
{% endblock %}
