{% extends "base.html" %}
{% load static i18n %}
{% load custom %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
              <a href="#tab1" data-toggle="tab" class="list-group-item list-group-item-action {{is_active.superproject}}">Superprojects ({{ superproject_list.paginator.count }})</a>
              <a href="#tab2" data-toggle="tab" class="list-group-item list-group-item-action {{is_active.project}}">Projects ({{ project_list.paginator.count}})</a>
          </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content card">
              <div class="tab-pane text-style card-body {{is_active.superproject}}" id="tab1">
                {% for superproject in superproject_list %}
                    <h5><a href="{% url 'superprojects:detail' superproject.tsx_id %}">{{ superproject.tsx_id }}</a> - {{superproject.name}}</h5>
                    <table class="table">
                      <tbody>
                        <tr>
                            <td>{% if superproject.created_by.is_superuser %}{{ superproject.description | safe | truncatewords:"50" }} {% else %} {{ superproject.description|truncatewords:"50"}} {% endif %}
                                <a style="color:blue;" href="{% url 'superprojects:detail' superproject.tsx_id %}">[more]</a></td>
                            <td>{% show_username superproject %}</td>
                            <td>{{ superproject.created_at }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <hr>
                {% endfor %}
                {% if superproject_list %}
                {% with table=superproject_list type="superprojects" %}
                {% include "pages/paginate.html" %}
                {% endwith %}
                {% endif %}
                {% if not superproject_list.count %}
                    <p>There are no superprojects yet.</p>
                {% endif %}
              </div>
              <div class="tab-pane text-style card-body {{is_active.project}}" id="tab2">
                {% for project in project_list %}
                    <h5><a href="{% url 'projects:detail' project.tsx_id %}">{{ project.tsx_id }}</a> - {{project.name}}</h5>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            {% if project.status == "PUBLIC" %}<span class="badge badge-pill badge-success">Public</span>{% endif %}
                            {% if project.status == "PENDING" %}<span class="badge badge-pill badge-secondary">Pending</span>{% endif %}
                            {% if project.status == "PRIVATE" %}<span class="badge badge-pill badge-dark">Private</span>{% endif %}
                            {% if project.project_type == "INTERVENTIONAL" %} <span class="badge badge-primary">Interventional</span>{% endif %}
                            {% if project.project_type == "OBSERVATIONAL" %} <span class="badge badge-success">Observational</span>{% endif %}
                          <td>
                          <td>
                            {% if project.description %}
                              {{ project.description|safe|truncatewords:"30"|linebreaks }}
                              <a style="color:blue;" href="{% url 'projects:detail' project.tsx_id %}">[more]</a>
                            {% else %} 
                              No description provided 
                            {% endif %}
                          </td>
                          <td>
                            {% show_username project %}
                          </td>
                          <td>
                            {{ project.created_at }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <hr>
                {% endfor %}
                {% if project_list %}
                {% with table=project_list type="projects" %}
                {% include "pages/paginate.html" %}
                {% endwith %}
                {% endif %}
              </div>
            </div>
        </div>
      </div>

    </div>
{% endblock %}
{% block javascript %}
  {{block.super}}
  <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
{% endblock %}
