{% load static i18n %}
{% load custom %}
{% block content %}

{% if projects and projects.paginator.count > 0 %}
    <h2 style="text-align:center">{{ projects.paginator.count }} result(s)</h2>
    <hr>
    {% for project in projects %}
        <h3><a href="{% url 'projects:detail' project.tsx_id %}">{{ project.tsx_id }}</a> - {{project.name}}</h3>
        <small><b>Owner : </b>{{ project.created_by.username }} - {{ project.created_at }}</small>
        <p><b>Description : </b>{{project.description}}</p>
        <hr>
    {% endfor %}
    {% if projects %}
    <nav aria-label="Page navigation example">
        <p>Showing results {{projects.start_index}} - {{projects.end_index}} out of {{projects.paginator.count}}</p>
        <ul class="pagination">
        {% if projects.has_previous %}
            <li class="page-item"><a class="page-link page-action" target="1">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
        {% endif %}
        {% if projects.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link page-action" target="{{ projects.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}
        {% for i in projects.paginator.page_range %}
            {% if projects.number == i %}
                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% elif i > projects.number|add:'-5' and i < projects.number|add:'5' %}
                <li class="page-item"><a class="page-link page-action" target="{{i}}"">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if projects.paginator.num_pages > projects.number|add:'4' %}
            <li class="page-item"><a class="page-link page-action" target="{{ table.number|add:'5' }}">&hellip;</a></li>
        {% endif %}
        {% if projects.has_next %}
            <li class="page-item"><a class="page-link page-action" target="{{projects.paginator.num_pages}}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}

{% elif signatures and signatures.paginator.count > 0 %}
    <h2 style="text-align:center">{{ signatures.paginator.count }} result(s)</h2>
    <hr>
    {% for signature in signatures %}
        <h5><a href="{% url 'signatures:detail' signature.tsx_id %}">{{ signature.tsx_id }}</a> - {{signature.name}}<h5>
        {% onto_value signature.organism as organism %}
        {% onto_value signature.tissue as tissue %}
        {% onto_value signature.cell as cell%}
        {% onto_value signature.cell_line as cell_line%}
        <table class="table text-center">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Organism</th>
                    <th scope="col">Tissue</th>
                    <th scope="col">Cell</th>
                    <th scope="col">Cell line</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Up genes</th>
                    <th scope="col">Down genes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    {% if signature.factor.assay.project.status == "PUBLIC" %}<span class="badge badge-pill badge-success">Public</span>{% endif %}
                    {% if signature.factor.assay.project.status == "PENDING" %}<span class="badge badge-pill badge-secondary">Pending</span>{% endif %}
                    {% if signature.factor.assay.project.status == "PRIVATE" %}<span class="badge badge-pill badge-dark">Private</span>{% endif %}
                    {% if signature.signature_type == "GENOMIC" %}<span class="badge badge-pill badge-danger">Genomics</span>{% endif %}
                    {% if signature.signature_type == "METABOLOMIC" %}<span class="badge badge-pill badge-info">Metabolomics</span>{% endif %}
                    </td>
                    <td>
                    {% if signature.organism.name == "Homo sapiens" %} <img src="{% static 'images/species/Homo_sapiens.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Canis familiaris" %} <img src="{% static 'images/species/Canis_familiaris.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Danio rerio" %} <img src="{% static 'images/species/Danio_rerio.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Drosophila melanogaster" %} <img src="{% static 'images/species/Drosophila_melanogaster.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Macaca mulatta" %} <img src="{% static 'images/species/Macaca_mulatta.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Mus musculus" %} <img src="{% static 'images/species/Mus_musculus.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Rattus norvegicus" %} <img src="{% static 'images/species/Rattus_norvegicus.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name == "Sus scrofa" %} <img src="{% static 'images/species/Sus_scrofa.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{organism}}">
                    {% elif signature.organism.name %}{{ signature.organism.name }}
                    {% else %}/
                    {% endif %}
                    </td>
                    <td>
                    {% if signature.tissue.name == "Liver" or signature.tissue.name == "liver" %} <img src="{% static 'images/organs/png/028-liver.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Kidney" or signature.tissue.name == "kidney" %} <img src="{% static 'images/organs/png/008-kidneys-1.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Brain" or signature.tissue.name == "brain" %} <img src="{% static 'images/organs/png/002-brain.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Lungs" or signature.tissue.name == "lungs" %} <img src="{% static 'images/organs/png/003-lungs.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Bladder" or signature.tissue.name == "bladder" %} <img src="{% static 'images/organs/png/006-bladder.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Testis" or signature.tissue.name == "testis" %} <img src="{% static 'images/organs/png/022-testicle.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Heart" or signature.tissue.name == "heart" %} <img src="{% static 'images/organs/png/023-heart.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Ovary" or signature.tissue.name == "ovary" %} <img src="{% static 'images/organs/png/024-uterus.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Stomach" or signature.tissue.name == "stomach" %} <img src="{% static 'images/organs/png/029-stomach.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue.name == "Intestine" or signature.tissue.name == "intestine" %} <img src="{% static 'images/organs/png/027-intestine.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.tissue.name}}">
                    {% elif signature.tissue %}{{ signature.tissue.name }}
                    {% else %}/
                    {% endif %}
                    </td>
                    <td>
                    {% if signature.cell %}
                        <img src="{% static 'images/organs/png/014-cells.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.cell.name}}">
                    {% else %}
                        /
                    {% endif %}
                    </td>
                    <td>
                    {% if signature.cell_line %}
                         <img src="{% static 'images/organs/png/014-cells.png' %}" width="50px" height="50px" data-toggle="tooltip" data-placement="top" title="{{signature.cell_line.name}}">
                    {% else %}
                        /
                    {% endif %}
                    </td>
                    <td>{% if signature.sex_type %}{%  get_dict_value  sex_type_dict signature.sex_type %} {% else %} / {% endif %}</td>
                    <td>{% if signature.dev_stage %}{% get_dict_value dev_stage_dict signature.dev_stage %} {% else %} / {% endif %}</td>
                    <td>{{ signature.up_gene_number }}</td>
                    <td>{{ signature.down_gene_number }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
    {% endfor %}
    {% if signatures %}
    <nav aria-label="Page navigation example">
        <p>Showing results {{signatures.start_index}} - {{signatures.end_index}} out of {{signatures.paginator.count}}</p>
        <ul class="pagination">
        {% if signatures.has_previous %}
            <li class="page-item"><a class="page-link page-action" target="1">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
        {% endif %}
        {% if signatures.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link page-action" target="{{ signatures.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}
        {% for i in signatures.paginator.page_range %}
            {% if signatures.number == i %}
                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% elif i > signatures.number|add:'-5' and i < signatures.number|add:'5' %}
                <li class="page-item"><a class="page-link page-action" target="{{i}}"">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if signatures.paginator.num_pages > signatures.number|add:'4' %}
            <li class="page-item"><a class="page-link page-action" target="{{ table.number|add:'5' }}">&hellip;</a></li>
        {% endif %}
        {% if signatures.has_next %}
            <li class="page-item"><a class="page-link page-action" target="{{signatures.paginator.num_pages}}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}



{% else %}
    <p> No results found! </p>
{% endif %}

{% endblock %}
