{% extends "base.html" %}
{% load static i18n %}


{% block content %}
    <div class="container-fluid">
        <h1><i class="fa fa-download"></i> Statistics</h1>

        <h3>Data</h3>
        <hr>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Projects</th>
                <th>Studies</th>
                <th>Experimental conditions</th>
                <th>Signatures</th>
                <th>Species</th>
                <th>Tissues</th>
                <th>Chemicals</th>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>

        <h3>Signature information</h3>
        <hr>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>None</td>
            </tr>
            <tr>
                <td>None</td>
            </tr>
        </table>
    </div>
{% endblock %}