{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="m-y-2">Profile</h2>
    <div class="row m-y-2">
        <div class="col-lg-12 push-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link {{in_use.user}}">Profile</a>
                </li>
                {% if object == request.user %}
                  <li class="nav-item">
                      <a href="" data-target="#notifications" data-toggle="tab" class="nav-link {{in_use.notification}}">Notifications ({{ notifications.paginator.count }})</a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#groups" data-toggle="tab" class="nav-link">My groups  ({{ groups.paginator.count }})</a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#superprojects" data-toggle="tab" class="nav-link {{in_use.superproject}}">My superprojects ({{ superprojects.paginator.count }})</a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#project" data-toggle="tab" class="nav-link {{in_use.project}}">My projects ({{ projects.paginator.count }})</a>
                  </li>
                {% endif %}
            </ul>
            <div class="tab-content p-b-3" style="margin-top:20px;">
                <div class="tab-pane {{in_use.user}}" id="profile">
                    <div class="row">
                      <div class="col-md-12">
                        <form>
                          <div class="form-group">
                            <label for="exampleInputUser">User name</label>
                            <input type="text" class="form-control" id="exampleInputUser" aria-describedby="UserHelp" placeholder="" value="{{ object.username }}" disabled>
                            <small id="UserHelp" class="form-text text-muted">Can't be modified</small>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputmail">Email</label>
                            <input type="text" class="form-control" id="exampleInputmail" aria-describedby="MailHelp" placeholder="" value="{{ object.email }}" disabled>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFirst">First name</label>
                            <input type="text" class="form-control" id="exampleInputFirst" aria-describedby="FirstHelp" placeholder="Enter email" value="{{ object.name }}" disabled>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputLast">Last name</label>
                            <input type="text" class="form-control" id="exampleInputLast" aria-describedby="LastHelp" placeholder="Click on modify to change your last name" value="{{ object.last_name }}" disabled>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputCompagny">Institut</label>
                            <input type="text" class="form-control" id="exampleInputCompagny" placeholder="Click on modify to change your compagny" value="{{ object.institut }}" disabled>
                          </div>
                        </form>
                        {% if object == request.user %}
                        <!-- Action buttons -->
                        <div class="row">

                          <div class="col-sm-12">
                            <a class="btn btn-outline-info" href="{% url 'users:update' %}" role="button">Edit info</a>
                            <a class="btn btn-outline-info" href="{% url 'account_email' %}" role="button">E-Mail</a>
                            <!-- Your Stuff: Custom user template urls -->
                          </div>

                        </div>
                        <!-- End Action buttons -->
                        {% endif %}
                      </div>
                    </div>
                </div>
                {% if object == request.user %}
                <div class="tab-pane {{in_use.notification}}" id="notifications">
                <h2>My notifications</h2>
                <div class="table-responsive-xl">
                    <table class="table table-hover" id="notification_list">
                        <thead>
                            <tr style="text-align:center;">
                                <th scope="col">Sent by</th>
                                <th scope="col">Message</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for notification in notifications %}
                        <tr style="text-align:center;">
                            <td>{{notification.created_by}}</td>
                            <td>{{notification.message}}</td>
                            <td>
                                {% if notification.type == 'GROUP' %}
                                <button type="button" class="btn btn-success btn-sm js-notif-action" data-url="{% url 'users:accept_group_invitation' notification.id %}">
                                <span class="glyphicon glyphicon-trash"></span> Accept 
                                </button>
                                <button type="button" class="btn btn-danger btn-sm js-refuse-invitation" data-url="{% url 'users:dismiss_notification' notification.id %}">
                                <span class="glyphicon glyphicon-trash"></span> Dismiss 
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-danger btn-sm js-notif-action" data-url="{% url 'users:dismiss_notification' notification.id %}">
                                <span class="glyphicon glyphicon-trash"></span> Dismiss 
                                </button>
                                {% endif %} 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% if notifications %}
                    {% with table=notifications type="notifications" %}
                    {% include "pages/paginate.html" %}
                    {% endwith %}
                    {% endif %}
                </div>
                </div>
                <div class="tab-pane" id="groups">
                <h2>My groups <button data-url="{% url 'groups:create' %}" class="btn btn-outline-info js-create float-right"><i class="fas fa-external-link-alt"></i>New</button></h2>
                <div class="table-responsive-xl">
                    <table class="table table-hover">
                        <thead>
                            <tr style="text-align:center;">
                                <th scope="col">Name</th>
                                <th scope="col">Members</th>
                                <th scope="col">Group owner?</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr style="text-align:center;">
                            <td><a href="{% url 'groups:detail' group.id %}">{{group.name}}</a></td>
                            <td>{{group.members_number}}</td>
                            {% if group.ownership.owner == request.user %}
                            <td><i class="fas fa-check"></i></td>
                            {% else %}
                            <td>{{group.ownership.owner.username}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% if groups %}
                    {% with table=groups type="groups" %}
                    {% include "pages/paginate.html" %}
                    {% endwith %}
                    {% endif %}
                </div>
                </div>
                <div class="tab-pane {{in_use.superproject}}" id="superprojects">
                <h2>My superprojects <a role="button" data-url="{% url 'superprojects:superproject_create' %}" class="btn btn-outline-info js-create float-right"><i class="fas fa-external-link-alt"></i> New</a></h2>
                  <div class="table-responsive-xl">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Creation date</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for superproject in superprojects %}
                          <tr>
                            <th><a href="{% url 'superprojects:detail' superproject.tsx_id %}">{{ superproject.tsx_id }}</a></th>
                            <td>{{ superproject.name }}</td>
                            <td>{{ superproject.created_at }}</td>
                            <td>
                              <a role="button" data-url="{% url 'superprojects:superproject_edit' superproject.tsx_id %}" class="btn btn-outline-success js-create"><i class="far fa-edit"></i> Edit</a>
                              <a role="button" href="#" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Delete</a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if superprojects %}
                    {% with table=superprojects type="superprojects" %}
                    {% include "pages/paginate.html" %}
                    {% endwith %}
                    {% endif %}
                  </div>
                </div>
                <div class="tab-pane {{in_use.project}}" id="project">
                <h2>My projects <a role="button" href="{% url 'projects:project_create' %}" class="btn btn-outline-info float-right"><i class="fas fa-external-link-alt"></i> New</a></h2>
                  <div class="table-responsive-xl">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Creation date</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for project in projects %}
                          <tr>
                            <th><a href="{% url 'projects:detail' project.tsx_id %}">{{ project.tsx_id }}</a></th>
                            <td>{{ project.name }}</td>
                            <td>{{ project.created_at }}</td>
                            <td>{{ project.status }}</td>
                            <td>
                              {% if project.permissions.edit %}
                              <a role="button" href="{% url 'projects:project_edit' project.tsx_id %}" class="btn btn-outline-success"><i class="far fa-edit"></i> Edit</a>
                              {% endif %}
                              {% if project.permissions.delete %}
                              <a role="button" href="#" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Delete</a>
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if projects %}
                    {% with table=projects type="projects" %}
                    {% include "pages/paginate.html" %}
                    {% endwith %}
                    {% endif %}
                  </div>
                </div>
               </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-group">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<hr>
</div>


{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>var token = '{{ csrf_token }}';</script>
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}

