{% extends "base.html" %}
{% load static i18n %}
{% load custom_filters %}

{% block content %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<link href="{% static 'css/graph.css' %}" rel="stylesheet">
<script src="{% static 'js/graph.js' %}"></script>
<script src="{% static 'js/context-menu.js' %}"></script>
    <div class="container">
      <div class="tab-content card" style="text-align:center;">
        <div class="tab-pane active text-style card-body">
          <div id='graph'></div>
          <script>
            d3.json("{% url 'graph' %}?q={{project.tsx_id}}").then( function(json){
              drawGraph(json.data, json.max_parallel, json.max_depth, "{{signature.tsx_id}}");
            });
          </script>
        </div>
      </div>
      <br>
      <div class="tab-content card">
        <div class="text-center card-header">
            <h2>{{ signature.tsx_id }} - {{ signature.name }}</h2>
        </div>
        <div class="text-style card-body">
          <div class="tab-content card">
            <div class="text-center card-header">
              Signature information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Owner</b> : {{signature.created_by.username}}</p><br>
                </div>
                <div class="col-md-6">
                  <p><b>Signature type</b> : {{signature.get_signature_type_display}}</p><br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="tab-content card">
            <div class="text-center card-header">
              Biological information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Organism</b> : {% onto_value signature.organism "m2m" %}</p><br>
                  <p><b>Experimental type</b> : {{ signature.exp_type }}</p><br>
                  <p><b>Cell</b> : {% onto_value signature.cell "m2m" %}</p><br>
                  <p><b>Cell_line</b> : {% onto_value signature.cell_line "m2m" %}</p><br>
                </div>
                <div class="col-md-6">
                  <p><b>Developmental stage</b> : {{signature.dev_stage}}</p><br>
                  <p><b>Generation</b> : {{signature.generation}}</p><br>
                  <p><b>Sex</b> : {{signature.get_sex_type_display}}</p><br>
                  <p><b>Tissue</b> : {% onto_value signature.tissue "m2m" %}</p><br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="tab-content card">
            <div class="text-center card-header">
              <p>Subfactors</p>
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a href="" data-target="#chemical" data-toggle="tab" class="nav-link active">Chemical</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#biological" data-toggle="tab" class="nav-link">Biological</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#physical" data-toggle="tab" class="nav-link">Physical</a>
                </li>
              </ul>
            </div>
            <div class="text-style card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="chemical">
                  <p>Chemical subfactors :</p>
                  <hr>
                  {% if not chem_subfactors.count %}
                    <p>There are no chemical subfactors linked to this signature</p>
                  {% else %}
                  <table class="table table-hover">
                    <thead>
                      <tr style="text-align:center;">
                        <th scope="col">Chemical</th>
                        <th scope="col">Vehicule</th>
                        <th scope="col">Route</th>
                        <th scope="col">Dose</th>
                        <th scope="col">Exposure duration</th>
                        <th scope="col">Exposure frequency</th>
                        <th scope="col">Additional information</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for chemical in chem_subfactors %}
                      <tr style="text-align:center;" >
                        <td>{% onto_value chemical.chemical "foreign" chemical.chemical_slug %}</td>                    
                        <td>{{chemical.vehicule}}</td>                    
                        <td>{{chemical.route}}</td>                    
                        <td>{{chemical.dose_value}} {{chemical.dose_unit}}</td>                    
                        <td>{{chemical.exposure_time}}</td>                    
                        <td>{{chemical.exposure_frequencie}}</td>                    
                        <td>{{chemical.additional_info}}</td>                    
                      </tr>
                      {% endfor %}  
                    </tbody>
                </table>
                {% endif %}
                </div>
                <div class="tab-pane" id="biological">
                  <p>Biological subfactors : </p>
                  <hr>
                  <p>There are no biological subfactors linked to this factor</p>
                </div>
                <div class="tab-pane" id="physical">
                  <p>Physical subfactors : </p>
                  <hr>
                  <p>There are no physical subfactors linked to this factor</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="tab-content card">
            <div class="text-center card-header">
              Genomic signature information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Technology used </b> :
                  {% onto_value signature.technology "m2m" signature.technology_slug %}
                  </p>
                </div>
                <div class="col-md-6">
                    <p><b>Platform</b> : {{signature.platform}}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="tab-content card">
            <div class="text-center card-header">
              Statistical information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Control samples</b> : {{signature.control_sample_number}}</p><br>
                  <p><b>Treated samples</b> : {{signature.treated_sample_number}}</p><br>
                </div>
                <div class="col-md-6">
                  <p><b>Pvalue Cutoff</b> : {{signature.pvalue}}</p><br>
                  <p><b>FC Cutoff</b> : {{signature.cutoff}}</p><br>
                </div>
              </div>
              <p><b>Statistical processing</b> : {{signature.statistical_processing}}</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-group">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}
