{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<link href="{% static 'css/graph.css' %}" rel="stylesheet">
<script src="{% static 'js/graph.js' %}"></script>
<script src="{% static 'js/context-menu.js' %}"></script>
    <div class="container">
      <div class="tab-content card" style="text-align:center;">
        <div class="tab-pane active text-style card-body">
          <div id='graph'></div>
          <script>
            d3.json("{% url 'graph' %}?q={{project.tsx_id}}").then( function(json){
              drawGraph(json.data, json.max_parallel, json.max_depth, "{{signature.tsx_id}}");
            });
          </script>
        </div>
      </div>
      <br>
      <div class="tab-content card">
        <div class="text-center card-header">
            <h2>{{ signature.tsx_id }} - {{ signature.name }}</h2>
        </div>
        <div class="text-style card-body">
          <div class="tab-content card">
            <div class="text-center card-header">
              Signature information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Owner</b> : {{signature.created_by.username}}</p>
                </div>
                <div class="col-md-6">
                  <p><b>Signature type</b> : {{signature.signature_type}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content card">
            <div class="text-center card-header">
              Biological information
            </div>
            <div class="text-style card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Organism</b> : {{signature.organism}}</p>
                  <p><b>Experimental type</b> : {{signature.exp_type}}</p>
                  <p><b>Cell</b> : {{signature.cell}}</p>
                  <p><b>Cell_line</b> : {{signature.cell_line}}</p>
                </div>
                <div class="col-md-6">
                  <p><b>Developmental stage</b> : {{signature.dev_stage}}</p>
                  <p><b>Generation</b> : {{signature.generation}}</p>
                  <p><b>Sex</b> : {{signature.sex_type}}</p>
                  <p><b>Tissue</b> : {{signature.tissue}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content card">
            <div class="text-center card-header">
              <p>Subfactors</p>
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a href="" data-target="#chemical" data-toggle="tab" class="nav-link active">Chemical</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#biological" data-toggle="tab" class="nav-link">Biological</a>
                </li>
                <li class="nav-item">
                  <a href="" data-target="#physical" data-toggle="tab" class="nav-link">Physical</a>
                </li>
              </ul>
            </div>
            <div class="text-style card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="chemical">
                  <p>Chemical subfactors :</p>
                  <hr>
                  {% if not chem_subfactors.count %}
                    <p>There are no chemical subfactors linked to this signature</p>
                  {% endif %}
                  {% for chemical in chem_subfactors %}
                  <p><b>Chemical</b> {% if chemical.chemical %}{{chemical.chemical.name}}{% else %}{{chemical.chemical_slug}}{% endif %}</p><br>
                  <p><b>Route</b> : {{chemical.route}} <b>Vehicule</b> : {{chemical.vehicule}}</p><br>
                  <p><b>Dose</b> : {{chemical.dose_value}} {{chemical.dose_unit}}</p>
                  <br>
                  <p><b>Exposure</b> : {{chemical.exposure_time}} {{chemical.exposure_frequencie}}</p><br>
                  <p><b>Additional info</b> : {{chemical.additional_info}}</p><br>
                  <hr>
                  {% endfor %}
                </div>
                <div class="tab-pane" id="biological">
                  <p>Biological subfactors : </p>
                  <p>There are no biological subfactors linked to this factor</p>
                </div>
                <div class="tab-pane" id="physical">
                  <p>Physical subfactors : </p>
                  <p>There are no physical subfactors linked to this factor</p>
                </div>
              </div>
            </div>
          <div class="tab-content card">
            <div class="text-center card-header">
              Genomic signature information
            </div>
            <div class="text-style card-body">
              <p><b>Technology used : </b> :
                {% if signature.technology %}
                {{signature.technology}}
                {% else %}
                {{signature.technology_slug}}
                {% endif %}
              </p>
              <p><b>Platform : </b> : {{signature.platform}}</p>
            </div>
          </div>
          <div class="tab-content card">
            <div class="text-center card-header">
              Statistical information
            </div>
            <div class="text-style card-body">
              <p><b>Statistical processing : </b> : {{signature.statistical_processing}}</p>
              <p><b>Control samples</b> : {{signature.control_sample_number}}</p>
              <p><b>Treated samples</b> : {{signature.treated_sample_number}}</p>
              <p><b>Pvalue Cutoff</b> : {{signature.pvalue}}</p>
              <p><b>FC Cutoff</b> : {{signature.cutoff}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
