{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h1>Running jobs</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created by</th>
                <th scope="col">Created at</th>
                <th scope="col">Tool</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs_list%}
                    <tr class="{% if job.status == 'SUCCESS' %} table-success {% endif %} {% if job.status == 'STARTED' %} table-warning {% endif %} {% if job.status == 'FAILURE' %} table-danger {% endif %}">
                        <th scope="row">{{ job.id }}</th>
                        <td><a href="{% url 'jobs:results' job.id %}">{{ job.title }}</a></td>
                        <td>{{ job.created_by }}</td>
                        <td>{{ job.updated_at }}</td>
                        <td>{{ job.running_tool }}</td>
                        <td>{{ job.status }}</td>
                        <td>  
                            {% if job.running_tool.custom_result_link %}
                                <a href="{% url job.running_tool.custom_result_link job.id %}" class="btn btn-success">View results</a>
                            {% endif %}
                            {% if  "archive" in job.results %}
                                <a href="{% url 'download_job' job.id %}" class="btn btn-info">Download</a>
                            {% endif %}
                            <a href="{% url 'jobs:delete_job' job.id %}" class="btn btn-outline-danger">Delete</a> 
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

    </div>
{% endblock %}
