{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <h2> Ontology search </h2>
        {% for form in forms %}
            {% crispy form.form %}
            <div id="{{form.id}}-results"></div>
        {% endfor %}
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'js/ontology_details.js' %}"></script>
        {% if forms %}
        {{ forms.0.form.media }}
        {% endif %}
    </div>
{% endblock %}
