{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="container-fluid">
        <h1>Index Ontologies</h1>
        <div class="col-md-9">
          <div class="tab-content card">
            <div class="tab-pane active text-style card-body" id="tab1">
              {% for onto in onto_list %}
                  <h3><a href="{% url 'onto:detail' onto.id %}">{{ onto.id }}</a> - {{onto.name}}</h3>
                  <hr>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>

{% endblock %}
