{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
    <link href="{% static 'css/graph.css' %}" rel="stylesheet">
    <script src="{% static 'js/graph.js' %}"></script>
    <script src="{% static 'js/context-menu.js' %}"></script>
    <div class="container-fluid">
      <div class="tab-content card" style="text-align:center;">
        <div class="tab-pane active text-style card-body">
          <div id='graph'></div>
          <script>
            d3.json("{% url 'graph' %}?q={{project.tsx_id}}").then( function(json){
              drawGraph(json.data, json.max_parallel, json.max_depth, "{{project.tsx_id}}");
            });
          </script>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
              <a href="#tab1" data-toggle="tab" class="list-group-item list-group-item-action active">Project</a>
              <a href="#tab2" data-toggle="tab" class="list-group-item list-group-item-action">Studies ({{ studies|length }})</a>
              <a href="#tab3" data-toggle="tab" class="list-group-item list-group-item-action">Assays ({{ assays|length }})</a>
              <a href="#tab4" data-toggle="tab" class="list-group-item list-group-item-action">Factors ({{ factors|length }})</a>
              <a href="#tab5" data-toggle="tab" class="list-group-item list-group-item-action">Signatures ({{ signatures|length }})</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content card">
              <div class="tab-pane active text-style card-body" id="tab1">
                <h2>{{ project.tsx_id }} - {{ project.name }}</h2>
                <p>{{ project.description }}</p>
                <hr>
              </div>
              <div class="tab-pane text-style card-body" id="tab2">
                <h2> List of studies related to this project : </h2>
                {% if not studies %}
                  <p> No studies are related to this project</p>
                {% endif %}
                {% for study in studies %}
                  <h2><a href="{% url 'studies:detail' study.tsx_id %}">{{ study.tsx_id }}</a> - {{ study.name }}</h2>
                  <small> {{ study.study_type | lower | capfirst}}</small>
                  <p>{{ study.experimental_design }}</p>
                  <hr>
                  {% endfor %}
                  <br>
                  <a class="btn btn-large btn-info" href="{% url 'studies:study_create' project.tsx_id %}">
                    <i class="fa fa-plus-circle"></i> New study
                  </a>
                  <br>
              </div>
              <div class="tab-pane text-style card-body" id="tab3">
                <h2> List of assays related to this project : </h2>
                {% if not assays %}
                  <p> No assays are related to this project. To create one, please use the study screen.</p>
                {% endif %}
                {% for assay in assays %}
                  <h2><a href="{% url 'assays:assay_detail' assay.tsx_id %}">{{ assay.tsx_id }}</a> - {{ assay.name }}</h2>
                  <hr>
                {% endfor %}
              </div>
              <div class="tab-pane text-style card-body" id="tab4">
                <h2> List of factors related to this project : </h2>
                {% if not factors %}
                  <p> No Factors are related to this project. To create one, please use the assay screen.</p>
                {% endif %}
                {% for factor in factors %}
                  <h2><a href="{% url 'assays:factor_detail' factor.tsx_id %}">{{ factor.tsx_id }}</a> - {{ factor.name }}</h2>
                  <hr>
                {% endfor %}
              </div>
              <div class="tab-pane text-style card-body" id="tab5">
                <h2> List of signatures related to this project : </h2>
                {% if not signatures %}
                  <p> No signatures are related to this project. To create one, please use the factor screen.</p>
                {% endif %}
                {% for signature in signatures %}
                  <h2><a href="{% url 'signatures:detail' signature.tsx_id %}">{{ signature.tsx_id }}</a> - {{ signature.name }}</h2>
                  <hr>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
