{% extends "base.html" %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group ">
              <a href="#tab1" data-toggle="tab" class="list-group-item list-group-item-action active">Project</a>
              <a href="#tab2" data-toggle="tab" class="list-group-item list-group-item-action">Studies ({{ studies|length }})</a>
              <a href="#tab3" data-toggle="tab" class="list-group-item list-group-item-action">Assays ({{ assays|length }})</a>
              <a href="#tab4" data-toggle="tab" class="list-group-item list-group-item-action">Signatures ({{ signatures|length }})</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content card">
              <div class="tab-pane active text-style card-body" id="tab1">
                <h2>{{ project.tsx_id }} - {{ project.name }}</h2>
                    <p>
                      {{ project.description }}
                    </p>
                    <hr>
              </div>
              <div class="tab-pane text-style card-body" id="tab2">
                {% for study in studies %}
                  <h2><a href="{% url 'assays:detail' assay.tsx_id %}">{{ assay.tsx_id }}</a> - {{ study.name }}</h2>
                  <small> {{ study.study_type | lower | capfirst}}</small>
                  <p>{{ study.experimental_design }}</p>
                    <hr>
                  {% endfor %}
              </div>
              <div class="tab-pane text-style card-body" id="tab3">
                {% for assay in assays %}
                  <h2><a href="{% url 'assays:detail' assay.tsx_id %}">{{ assay.tsx_id }}</a> - {{ assay.name }}</h2>
                  <hr>
                {% endfor %}
              </div>
              <div class="tab-pane text-style card-body" id="tab4">
                {% for signature in signatures %}
                  <h2><a href="{% url 'signatures:detail' signature.tsx_id %}">{{ signature.tsx_id }}</a> - {{ signature.name }}</h2>
                  <hr>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
