{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Group: {{ group.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="tab-content card" style="text-align:center;">
    <div class="tab-pane active text-style card-body">
      <h2>{{ group.name }}</h2>
      <br>
      <div class="table-responsive-xl">
          <table id="group_users" class="table table-hover">
              <thead>
                  <tr style="text-align:center;">
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Group owner</th>
                      {% if group.ownership.owner == request.user %}
                        <th scope="col">Actions</th>
                      {% endif %}
                  </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr style="text-align:center;">
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  {% if group.ownership.owner == user %}
                  <td><i class="fas fa-check"></i</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  {% if group.ownership.owner == request.user %}
                  <td>
                    <button type="button" class="btn btn-danger btn-sm js-change_owner" data-url="{% url 'groups:change_owner' group.id user.id %}"
                     {% if group.ownership.owner == user %} disabled {% endif %} >
                       <span class="glyphicon glyphicon-trash"></span> Set owner
                     </button>
                    <button type="button" class="btn btn-danger btn-sm js-remove_user" data-url="{% url 'groups:remove_user' group.id user.id %}"
                    {% if group.ownership.owner == user %} disabled {% endif %} >
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        <div class="modal fade" id="modal-group">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
