<form method="post" action="{% url 'groups:change_owner' group.id user.id %}" class="js-owner-change-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm owner change</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to set {{user}} as owner of the group {{group}} ? You will lose editing permissions</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Change owner</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
